<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/LearningSelenium/LearningSelenium">
        <classes>
            <class name="com.thetestingacademy.ex_01_Selenium_basics.TestSelenium_04_Assertions_TestNG">
                <methods>
                    <include name="test_Selenium_01"/>
                </methods>
            </class>
            <class name="com.thetestingacademy.ex_01_Selenium_basics.TestSelenium_05_TestNG_Example">
                <methods>
                    <include name="Test_app"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>